/* 
    Position
    Display & Box
    Width & height
    Color
    Text
    Other
*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white-color);
}

.header-notify {
    width: 100%;
    height: var(--header-notify);
    line-height: var(--header-notify);
    text-align: center;
    background-color: var(--primary-color);
    cursor: pointer;
}

.header-notify a {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    text-transform: capitalize;
    font-family: 'Noto Sans', sans-serif;
}


/* Header Nav */

.header-nav {
    height: var(--header-nav);
}

.nav-item-left {
    text-align: left;
}

.nav-item-center {
    text-align: center;
}

.nav-item-right {
    text-align: right;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
}

.nav-item {
    padding: 0 20px;
    position: relative;
}

.nav-item a:hover {
    border-bottom: 3px solid var(--primary-color);
}

.nav-item>a {
    padding: 5px 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}


/* Sub Nav */

.nav-item:hover .nav-sub {
    display: block;
}

.nav-item:first-child::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 70px;
    top: 15px;
    left: 0;
}

.nav-sub {
    position: absolute;
    top: calc(100% + 38px);
    left: -120px;
    width: 1600px;
    padding: 32px 36px;
    background-color: #fff;
    z-index: 100;
    display: none;
    animation: fadeIn linear 0.3s;
}

.nav-sub a:hover {
    border: none;
    margin-left: 6px;
}

.nav-sub a {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
    transition: 0.4s;
    padding: 4px 0;
}

.nav-right-img {
    width: 90%;
}

.nav-logo {
    line-height: var(--header-nav);
}

.nav-logo-img {
    height: 68px;
    width: 212px;
}

.nav-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 45px;
}

.nav-icon:hover {
    color: #533437;
}

.nav-icon {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
    padding: 12px 0px;
}


/* Search */

.search {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 60px;
    transition: 0.5s;
}

.nav-icon-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.search-input {
    width: 180px;
    height: 30px;
    margin-right: 15px;
    font-size: 1.6rem;
    border: none;
    outline: none;
    display: none;
    /* border-bottom: 1px solid var(--primary-color); */
}

.active-search {
    width: 230px;
    margin-right: -20px;
    box-shadow: 0 0 0 2px var(--primary-color);
}

.show {
    display: inline-block;
}


/* Slider */

#slider {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--header-notify) + var(--header-nav));
    /* max-width: 1520px; */
    max-width: 1300px;
}

.slider-wrapper {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.slider-main {
    position: relative;
    height: 100%;
    display: flex;
    transition: transform 0.3s linear;
    /* left: -2600px; */
}

.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    user-select: none;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-next:hover,
.slider-prev:hover {
    opacity: 1;
    box-shadow: rgba(68, 68, 81, 0.2) 0px 7px 29px 0px;
}

.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    opacity: 0.5;
    transition: 0.3s;
}

.slider-next {
    right: 20px;
}

.slider-prev {
    left: 20px;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #999;
    transition: background-color 0.25s linear;
    cursor: pointer;
}

.slider-dots li.active {
    background-color: white;
}


/* Content */

#content {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-header {
    text-align: center;
}

.content-heading {
    font-size: 5.5rem;
    font-weight: 400;
    color: var(--primary-color);
}

.content-description {
    padding: 28px 0;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: rgb(113, 113, 113);
}

/* Map */
.map {
    display: none;
}

.fa-location-dot:hover .map {
    display: block;
    position: absolute;
    border-radius: 10px;
}

/* Product */

/* .product {
    margin-bottom: 100px;
} */

.product {
    margin-top: 28px;
}

.product-item {
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.product-img {
    width: 100%;
}

.product-title {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.product-price {
    margin-top: 15px;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: 'Poiret One', cursive;
}

.btn-buy:hover {
    color: var(--pink-color);
    background-color: #572d30;
}

.btn-buy {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--pink-color);
    border: none;
    border-radius: 0;
    letter-spacing: 0.5px;
    transition: 0.4s;
}

.slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: white;
}

.slick-prev {
    left: -70px;
}

.slick-next {
    right: -70px;
}


/* Slider Bottom */

.slider-bottom {
    position: relative;
}

.slider-bg {
    width: 100%;
    object-fit: contain;
    height: 500px;
}

.introduce {
    position: absolute;
    top: 20px;
    left: 55%;
}

.introduce-icon {
    width: 95px;
    margin-top: 50px;
}

.introduce-title {
    margin-top: 32px;
    font-size: 5.5rem;
    font-weight: 400;
    color: var(--primary-color);
}

.introduce-des {
    margin-top: 28px;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: #000;
}

.introduce-btn {
    margin-top: 32px;
}


/* Follow */

.follow {
    padding-top: 30px;
    text-align: center;
}

.follow-heading {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 3.2rem;
}

.follow-des {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}


/* Product Social */

.our-products {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.our-products-list {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    margin-left: -10px;
    margin-right: -10px;
}

.our-product-item {
    /* width: 24%; */
    margin: 2px -5px;
    text-align: center;
    overflow: hidden;
    cursor: zoom-in;
}

.our-product-item img:hover {
    transform: scale(1.1);
}

.our-product-item img {
    width: 100%;
    display: block;
    transition: 0.4s;
    object-fit: cover;
}

.our-product-large-item img {
    width: 100%;
}


/* Button Show - Hide */

.button-show {
    text-align: center;
}

.btn-show:hover {
    color: white
}

.btn-show {
    background-color: #5b86e5;
    color: var(--white-color);
    font-size: 1.6rem;
    text-align: center;
    width: 100px;
    height: 36px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.collapsed .hide {
    /* Ẩn con trong list cha */
    display: none;
}

.hidden {
    display: none;
}

/* Accoutn */
.account {
    height: 580px;
    margin-top: 200px;
    background: rgb(240, 222, 222);
}

.title_acc {
    text-align: center;
    padding: 50px 0;
}

.title_acc h2 {
    font-size: 5.5rem;
    font-weight: 400;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.title_acc > a {
    font-size: 20px;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.acc_content {
    display: flex;
    padding: 0 220px;
    justify-content: space-between;
}

.acc_left h4,
.acc_right h4{
    font-size: 42px;
    font-weight: 200;
    line-height: 58px;
}

.acc_left p {
    font-size: 18px;
}

.acc_right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.acc_detail {
    width: 300px;
    height: 48px;
    margin-bottom: 22px;
    padding: 10px;
}

.acc_btn {
    width: 130px;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}
/* Contact */

#contact {
    width: 100%;
    height: 100%;
    padding: 50px 400px;
    display: flex;
    align-items: center;
    background: rgb(248, 200, 200);
}

.contact_content {
    max-width: 1080px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    position: relative;
    z-index: 3;
}

.contact_inf {
    margin-left: 100px;
    font-size: 19px;

}
.contact_inf .contact_input {
    width: 300px;
    height: 45px;
    margin-bottom: 15px;
    padding: 15px;
    border: 3px solid #fff;
    outline: none;
}
.contact_inf .contact_input:focus {
    border: 3px solid rgb(132, 59, 59);
}

.btn_send {
    height: 35px;
    width: 55px;
    margin-bottom: 15px;
    background: rgb(132, 59, 59);
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}



/* Footer */

#footer {
    background-color: var(--primary-color);
    padding: 54px 130px;
}

.footer-wrap {
    display: grid;
    grid-template-columns: repeat(3, 33.33333%);
    grid-template-rows: repeat(3, 33.33333%);
}

.footer-page {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    /* khoảng cách giữa các item */
    grid-gap: 20px;
}

.page-list {
    margin: 28px -20px 0;
}

.page-item a:hover {
    color: rgb(132, 59, 59);
    /* font-size: 1.8rem; */
    transform: scale(1.1);
    margin-left: 5px;
}

.page-item a {
    padding: 4px 0;
    color: #fff5d6;
    font-size: 1.6rem;
    display: block;
    font-weight: 400;
    transition: 0.2s;
    letter-spacing: 0.4px;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 320px;
    height: 90px;
}

.brand-des {
    margin: 26px;
    color: #fff5d6;
    font-style: 1.2rem;
    letter-spacing: 0.5px;
}

.footer-contact {
    margin: 28px -20px 0;
}


/* Scroll Top */

.scroll-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(135, 59, 59);
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    z-index: 10000;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
}

.scroll-top.active {
    opacity: 1;
    visibility: visible;
}

.scroll-top:hover {
    transform: scale(1.2);
}

.scroll-top-icon {
    font-size: 35px;
    color: var(--white-color);
    transform: rotate(90deg);
}